body { 
	padding-top: 70px;  /* Required when use the navbar-fixed-top */
}
.menu-title {
	text-align: center;
}
section {
	background: #25373D;
	/*margin: 10px;*/
}
section h2 {
	padding-top: 10px;
}
section p {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu-title {
	text-transform: uppercase;
	color: #fff;
}
.menu-description {
	color: #fff;
}
.navbar {
	background: #25373D;
}
#brand-title {
	color: #fff;
}
.food-title {
	color: #fff;
}